{% extends 'layouts/Base.html' %} {% block content %}

<h1>About</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis id tempore repudiandae
  dolores neque asperiores atque officiis, consequatur numquam magnam, excepturi harum sunt
  necessitatibus iste labore temporibus sint fuga, dolore fugiat! Velit voluptatum assumenda
  doloremque itaque esse laborum consequatur eum adipisci rem unde quos corporis fuga illo,
  repellendus soluta? Eum voluptatem enim placeat obcaecati! Accusamus a voluptate obcaecati
  consequuntur adipisci veniam dignissimos vitae ab sit, quia saepe eius voluptas? Labore earum
  exercitationem nisi autem quaerat. Recusandae nemo voluptas sequi voluptatum, incidunt eligendi
  tempore eveniet molestias architecto iusto cum facilis, totam vero voluptates quos excepturi
  dolores. Corrupti maiores saepe ipsa alias.
</p>

<p>Website created by {{username}}</p>

{% endblock %}
